.taskTextContainer{
    display: flex;
}

.taskContainer{
    margin-top: 10px;

    width: 600px;
    height: 70px;
    border: 1px solid black;

    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items:center;
    
    background-color:white;
    opacity: 0.8;
    border: 0px solid white;
    border-radius: 10px 10px 0 0;    
}
.taskContainer:hover{
    border-left: 5px solid gray;
    width: 595px;

}
.taskContainer:hover .taskText{
    margin-left: 25px;
}

.taskContainerCheck{
    margin-top: 10px;

    width: 600px;
    height: 70px;
    border: 1px solid black;

    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items:center;
    
    background-color:white;
    opacity: 0.8;
    border: 0px solid white;
    border-radius: 10px 10px 0 0;     
    border-left: 5px solid black;
    width: 595px; 
}

.taskContainerCheck .taskText{
    margin-left: 25px;
}

.deleteButtonContainer{
    width: 600px;
    height:35px;
    border: 1px solid black;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items:center;
    
    background-color:rgb(78, 78, 78);
    opacity: 0.8;
    border: 0px solid white;
    border-radius: 0 0 10px 10px;    


}

.taskText{
    width: 350px;
    font-size: 20px;
    word-wrap:  break-word;
    margin-left: 30px;
}

.deleteTaskBtton{
    margin-right: 10px;

    width: 40;
    height: 30px;
    background-color: #8f8f8f; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: #8f8f8f; 
    color: white; 
    border: 2px solid #8f8f8f;
    border-radius: 5px;

}
.taskInputContainer{
    display: flex;
    justify-content: start;
    align-items: center;
    
}