.mainTimeBlock {
    margin-top: 40px;


    height: 320px;
    display: grid;
    grid-template-areas:
        "pomodoroBreakeButtonsContainer"
        "timer"
        "button"
        "skipButtonClass"
    ;
    grid-template-columns: 550px;
    justify-items: center;
    gap: 10px;


    background-color: rgba(0, 0, 0, 0.3);
    border: 0px solid var(--light_red);
    border-radius: 10px;

    color:var(--white);

}

.button {
    grid-area: button;
    margin-left: 60px;
}

.timer {
    grid-area: timer;
    color:var(--white);
    

}

.pomodoroBreakeButtonsContainer {
    display: flex;
    grid-area: pomodoroBreakeButtonsContainer;
    margin-top: 20px;
    flex-direction:row;
    justify-content: space-around;
    width: 300px;

  


}

.pomodorocheckButton{

    display: flex;
    justify-content:center;


    margin-right: 0px;
    
    height: 30px;
    border-bottom: 2px solid var(--white);
    
    

    color:var(--white);

    font-size: 17px;

}


.breakecheckButton{
    display: flex;
    justify-content:center;
    

    
   
    height: 30px;
    border-bottom: 2px solid var(--white);
    
    

    color:var(--white);

    font-size: 17px;
}

.skipButtonClass{
    grid-area: skipButtonClass;
    margin-left: 20px;
   padding-top: 15px;

    font-size: 25px;
    color:var(--black);
    width: 50px;
    height: 50px;

    border: 0px solid var(--light_red);
    background-color: rgba(0, 0, 0, 0);

    border-radius:5px;

    cursor:pointer;

    color: var(--white);

    

}

.StartButtonAndSkippButtonContainer{
    padding-left: 45px;

    
}