.mainTimeBlock {
    height: 300px;
    display: grid;
    grid-template-areas: "timer"
        "button";
    grid-template-columns:  600px;
    justify-items: center; 
    gap: 10px;

    border: 1px solid black;
}
.button{
    grid-area: button;
}

.timer{
    grid-area: timer;
}