.incdecContainer{
    display: flex;
    flex-direction:row;
    justify-content: flex-star;
    align-items:center;

    margin-top: 25px;

}
.incdecScreen{
    border: 1px solid rgb(185, 176, 176);
    background-color: rgb(212, 203, 203) ;
    width: 50px;
    height: 30px;
    border-radius: 5px;
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    padding-bottom: 2px;

    font-size: 20px;
    margin-right: 5px;
}

.incdecButton{
    border: 1px solid white;
    background-color: white;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    padding-bottom: 2px;

    font-size: 20px;
    margin-left: 5px;
}