.popUpContent{   
    margin-top: 40px;
    padding-top: 30px;

    width: 350px;
    height:500px;

    background-color: var(--white);

    border-radius: 3px;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.popUp{
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);

    display: flex;
    flex-direction: row;
    justify-content:center;      
}

.popUpClose{
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6); 
}


.popUpContentHeader{
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    margin-bottom: 30px;
}
.popUpContentExit{
    cursor: pointer;
}

.popUpContentH1{
    font-size: 20px;
    color:var(--dark_gray);
}
.popUpContentExit{
   
}

/* Стили Настройки Таймера */
.popUpContentTimeSetUpHeader{
    font-size: 20px;
    color:var(--dark_gray);
}
.popUpContentTimeSetUp{
    width: 300px;
    height: 130px;
    border-top: 1px solid var(--light_gray);
    border-bottom: 1px solid var(--light_gray);
}
.popUpContentTimeSetUpInputs{
    margin-top: 13px;
    display: flex;
}

.popUpContentTimeSetUpInputOfPomodoro{
    display: flex;
    flex-direction: column;

    margin-right: 30px; 
}
.popUpContentTimeSetUpInputOfPomodoro input{
    border-radius:3px;
    border:0px solid var(--light_gray);
    background-color:var(--light_gray);

    outline: none;
    height: 30px;
    width: 70px;
}
.popUpContentTimeSetUpInputOfPomodoro div{
    color: var(--light_gray);
    margin-bottom: 10px;
    font-size: 17px;
}

.popUpContentTimeSetUpInputOfPomodoro input::placeholder{
    color:var(--black)
}

.popUpContentTimeSetUpInputOfBreake{
    display: flex;
    flex-direction: column;;
}
.popUpContentTimeSetUpInputOfBreake input{
    height: 20px;
}
.popUpContentTimeSetUpInputOfBreake input{
    border-radius:3px;
    border:0px solid var(--light_gray);
    background-color:var(--light_gray);

    outline: none;
    height: 30px;
    width: 70px;
}
.popUpContentTimeSetUpInputOfBreake div {
    color: var(--light_gray);
    margin-bottom: 10px;
    font-size: 17px;
}
.popUpContentTimeSetUpInputOfBreake input::placeholder{
    color:var(--black)
}

/* Стили Настройки Звонка */

.popUpContentAlarmInputs{
    height: 30px;
    width: 70px;
    border-radius:3px ;
    border: 1px solid var(--light_gray);
    background-color: var(--light_gray);

    display: flex;
    flex-direction:row;
    justify-content: flex-end;
    align-items: center;

    color:var(--white);
    cursor: pointer;
    
}

.popUpContentAlarmVar{
    height: 30px;
    width: 70px;
    border: 1px solid var(--light_gray);
    background-color: var(--light_gray);
    
    cursor: pointer;
}
.popUpContentAlarmVar:hover{
    height: 30px;
    width: 70px;
    border: 1px solid var(--dark_gray);
    background-color: var(--dark_gray);

    color:var(--white);

    cursor: pointer;
}

.popUpContentAlarmSetUp{
    width: 300px;
    height: 100px;
    display: flex;
    flex-direction: column;
}
.popUpContentAlarmHeader{
    font-size: 20px;
    color:var(--dark_gray);
    margin-bottom: 10px;
}

.popUpContentChcketBox{
    width: 300px;
    height: 100px;
    border-top: 1px solid var(--light_gray);
    margin-top: 80px;

    padding-top: 20px;
}
.popUpContentHeader{
    font-size: 20px;
    color:var(--dark_gray);
}


.checkbox {
	position: absolute;
	z-index: -1;
	opacity: 0;
	margin: 10px 0 0 20px;
}
.checkbox + label {
	position: relative;
	padding: 0 0 0 60px;
	cursor: pointer;
}
.checkbox + label:before {
	content: '';
	position: absolute;
	top: -4px;
	left: 0;
	width: 50px;
	height: 26px;
	border-radius: 13px;
	background: #CDD1DA;
	box-shadow: inset 0 2px 3px rgba(0,0,0,.2);
	transition: .2s;
}
.checkbox + label:after {
	content: '';
	position: absolute;
	top: -2px;
	left: 2px;
	width: 22px;
	height: 22px;
	border-radius: 10px;
	background: var(--light_gray);
	box-shadow: 0 2px 5px rgba(0,0,0,.3);
	transition: .2s;
}
.checkbox:checked + label:before {
	background: #73776f;
}
.checkbox:checked + label:after {
	left: 26px;
}
.checkbox:focus + label:before {
	box-shadow: inset 0 2px 3px rgba(0,0,0,.2), 0 0 0 3px rgba(197, 197, 191, 0.7);
}