.popUpContent{   
    margin-top: 40px;
    padding-top: 30px;

    width: 350px;
    height:400px;

    background-color: var(--white);

    border-radius: 3px;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.popUp{
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);

    display: flex;
    flex-direction: row;
    justify-content:center;      
}

.popUpClose{
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6); 
}


.popUpContentHeader{
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    margin-bottom: 30px;
}
.popUpContentExit{
    cursor: pointer;
}

.popUpContentH1{
    font-size: 20px;
    color:var(--dark_gray);
}
.popUpContentExit{
   
}

/* Стили Настройки Таймера */
.popUpContentTimeSetUpHeader{
    font-size: 20px;
    color:var(--dark_gray);
}
.popUpContentTimeSetUp{
    width: 300px;
    height: 130px;
    border-top: 1px solid var(--light_gray);
    border-bottom: 1px solid var(--light_gray);
}
.popUpContentTimeSetUpInputs{
    margin-top: 13px;
    display: flex;
}

.popUpContentTimeSetUpInputOfPomodoro{
    display: flex;
    flex-direction: column;

    margin-right: 30px; 
}
.popUpContentTimeSetUpInputOfPomodoro input{
    border-radius:3px;
    border:0px solid var(--light_gray);
    background-color:var(--light_gray);

    outline: none;
    height: 30px;
    width: 70px;
}
.popUpContentTimeSetUpInputOfPomodoro div{
    color: var(--light_gray);
    margin-bottom: 10px;
    font-size: 17px;
}

.popUpContentTimeSetUpInputOfPomodoro input::placeholder{
    color:var(--black)
}

.popUpContentTimeSetUpInputOfBreake{
    display: flex;
    flex-direction: column;;
}
.popUpContentTimeSetUpInputOfBreake input{
    height: 20px;
}
.popUpContentTimeSetUpInputOfBreake input{
    border-radius:3px;
    border:0px solid var(--light_gray);
    background-color:var(--light_gray);

    outline: none;
    height: 30px;
    width: 70px;
}
.popUpContentTimeSetUpInputOfBreake div {
    color: var(--light_gray);
    margin-bottom: 10px;
    font-size: 17px;
}
.popUpContentTimeSetUpInputOfBreake input::placeholder{
    color:var(--black)
}

/* Стили Настройки Звонка */

.popUpContentAlarmInputs{
    height: 30px;
    width: 70px;
    border-radius:3px ;
    border: 1px solid var(--light_gray);
    background-color: var(--light_gray);

    display: flex;
    flex-direction:row;
    justify-content: flex-end;
    align-items: center;

    color:var(--white);
    cursor: pointer;
    
}

.popUpContentAlarmVar{
    height: 30px;
    width: 70px;
    border: 1px solid var(--light_gray);
    background-color: var(--light_gray);
    
    cursor: pointer;
}
.popUpContentAlarmVar:hover{
    height: 30px;
    width: 70px;
    border: 1px solid var(--dark_gray);
    background-color: var(--dark_gray);

    color:var(--white);

    cursor: pointer;
}

.popUpContentAlarmSetUp{
    width: 300px;
    height: 100px;
    display: flex;
    flex-direction: column;
}
.popUpContentAlarmHeader{
    font-size: 20px;
    color:var(--dark_gray);
    margin-bottom: 10px;
}

/* lfkdg;dlskgj */

/* CSS rules are kept repetitive so that you can get CSS rules for each button easily :) */

