.addTask {
    margin-top: 20px;
    width: 550px;
    height: 170px;

    background-color: rgba(0, 0, 0, 0.3);

    border: 0px solid var(--white);
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.closeaTask {
    margin-top: 20px;
    width: 550px;
    height: 100px;

    background-color: var(--dark_gray);
   
    border-radius: 10px;
    color: var(--white);

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.taskContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.taskContainerNone {
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;
}
.inputTask {
    background-color: rgba(0, 0, 0, 0);
    color:var(--white);
    font-size: 20px;
    display: block;
    outline: none;
    border: 0px;
}
.inputTask::placeholder {
    color:var(--white);
}

.cancelTaskButton {
    display: block;
    width: 80;
    height: 40px;
    background-color: var(--gray);
    /* Green */
    border: none;
    color: var(--white);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 10px 4px 5px;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    background-color:  var(--gray);
    color: var(--white);
    border: 2px solid  var(--gray);
    border-radius: 10px;
}

.cancelTaskButton:hover {
    background-color: var(--dark_gray);
    border: 2px solid var(--dark_gray);
    color: var(--white);
}


.inputButton {
    display: block;

    width: 80;
    height: 40px;
    background-color:  var(--gray);
    /* Green */
    border: none;
    color: var(--white);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 5px;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    background-color:  var(--gray);
    color: var(--white);
    border: 2px solid  var(--gray);
    border-radius: 10px;

}

.inputButton:hover {
    background-color: var(--dark_gray);
    border: 2px solid var(--dark_gray);
    color: var(--white);
}

.addTaskFotter {
    background: var(--dark_gray);
    width: 100%;
    border-radius: 0px 0 10px 10px;
    display: flex;
    flex-direction: row;
    justify-content:flex-end;

}
.taskInputContainer{
    margin-top: 20px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    
}

.recomend{
    color:var(--white);
    margin-right: 180px;
    margin-top: 10px;
}