.popUpContent{   
    margin-top: 40px;
    padding-top: 30px;

    width: 350px;
    height:300px;

    background-color: var(--white);

    border-radius: 3px;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.popUp{
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);

    display: flex;
    flex-direction: row;
    justify-content:center;      
}

.popUpClose{
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6); 
}


.popUpContentHeader{
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    margin-bottom: 30px;
}
.popUpContentExit{
    cursor: pointer;
}

/* Стили формы */
.authFormContainer{
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.popUpContentH1{
    font-size: 20px;
    color:var(--dark_gray);
}

.authFormEmail{
    width: 280px;
    height: 35px;

    outline:none;
    border: 1px solid var(--light_gray);
    background-color: var(--light_gray);
    border-radius:3px;

    margin-bottom: 15px;
}

.authFormPassword{
    width: 280px;
    height: 35px;

    outline:none;
    border: 1px solid var(--light_gray);
    background-color: var(--light_gray);
    border-radius:3px;
}

.authSubmitButton{

    margin-top: 20px;
    width: 230px;
    height: 35px;

    outline:none;
    border: 1px solid var(--dark_gray);
    background-color: var(--dark_gray);
    border-radius:3px;

    color: var(--white);
    cursor: pointer;
}

.authFotter{
    margin-top: 20px;
    cursor: pointer;
}